<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    
    <!--<script type="text/javascript" src="/javascripts/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>-->
    <!--<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css">-->

    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/style1.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/style1_common.css">-->
    <!--<script type="text/javascript" src="/javascripts/common.js"></script>-->

    <script type="text/javascript" src="/javascripts/Rexp.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>