<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>留言编辑</title>
        <script type="text/javascript" src="EventUtil.js"></script>
        <link type="text/css" rel="stylesheet" href="../libs/bootstrap/V3.3.7/dist/css/bootstrap.min.css">
        <script type="text/javascript" src="../libs/jquery/V3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="../libs/bootstrap/V3.3.7/dist/js/bootstrap.min.js"></script>

    </head>
    <body style="background: url(../../image/bgimg.png) no-repeat 0 0;">

    <div class="container" style="border:1px solid #777;border-top-left-radius: 15px;border-top-right-radius: 15px;">
        <div style="height:15px;"></div>
        <form method="post" action="javascript:alert('非常感谢您的支持！您的留言我们已经收到！')" style="background:transparent;padding:15px">
            <div id="toolbar">
                <div id="divSimple">
                    <p>
                        <button type="button" class="btn btn-default btn-md" value="Bold" title="粗体"><span class="glyphicon glyphicon-bold" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="Italic" title="斜体"><span class="glyphicon glyphicon-italic" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="Underline" title="下划线"><span class="glyphicon glyphicon-text-color" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="Strikethrough" title="删除线"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span></button>

                        <button type="button" class="btn btn-default btn-md" value="Superscript" title="上标"><span class="glyphicon glyphicon-superscript" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="Subscript" title="下标"><span class="glyphicon glyphicon-subscript" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="Indent" title="缩进"><span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="Outdent" title="突起"><span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span></button>

                        <button type="button" class="btn btn-default btn-md" value="Justifyleft" title="左对齐"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="Justifycenter" title="居中"><span class="glyphicon glyphicon-align-center" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="Justifyright" title="右对齐"><span class="glyphicon glyphicon-align-right" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="Justify" title="分散对齐"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="Copy" title="复制"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="Cut" title="剪切"><span class="glyphicon glyphicon-scissors" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="Paste" title="粘贴"><span class="glyphicon glyphicon-paste" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="Selectall" title="全选"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="Removeformat" title="格式化"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="Delete" title="删除"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>

                        <button type="button" class="btn btn-default btn-md" value="Print" title="打印"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="InsertOrderedList" title="有序列表"><span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="InsertUnOrderedList" title="无序列表"><span class="glyphicon glyphicon-random" aria-hidden="true"></span></button>

                    </p>
                </div>

                <div id="divComplex">
                    <p>
                        <button type="button" class="btn btn-default btn-md" value="Create Link" id="btnCreateLink" title="超链接"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="UnLink" id="btnUnlink" title="取消超链接"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md">
                            <span class="glyphicon glyphicon-header" aria-hidden="true"></span>
                            <select name="title"  id="btnHead" title="标题">
                                <option value="<h1>">标题h1(36px)</option>
                                <option value="<h2>">标题h2(30px)</option>
                                <option value="<h3>">标题h3(24px)</option>
                                <option value="<h4>">标题h4(18px)</option>
                                <option value="<h5>">标题h5(14px)</option>
                                <option value="<h6>">标题h6(12px)</option>
                            </select>
                        </button>
                        <button type="button" class="btn btn-default btn-md">
                            <span class="glyphicon glyphicon-font" aria-hidden="true"></span>
                            <select name="fontFamily" id="fontfamily" title="字体">
                                <option value="宋体,simsun">宋体</option>
                                <option value="楷体,楷体_gb2312,simkai">楷体</option>
                                <option value="隶书,simli">隶书</option>
                                <option value="黑体,simhei">黑体</option>
                                <option value="andale mono,times">Andale Mono</option>
                                <option value="arial,helvetica,sans-serif">Arial</option>
                                <option value="arial black,avant garde">Arial Black</option>
                                <option value="comic sans ms,cursive,sans-serif">Comic Sans Ms</option>
                                <option value="courier new,courier,monospace">Courier New</option>
                                <option value="georgia,serif">Georgia</option>
                                <option value="impact,charcoal,sans-serif">Impact</option>
                                <option value="lucida sans unicode,lucida grande,sans-serif">Lucida Sans Unicode</option>
                                <option value="lucida console,monaco,monospace">Lucida Console</option>
                                <option value="tahoma,geneva,sans-serif">Tahoma</option>
                                <option value="trebuchet ms,helvetica,sans-serif">Trebuchet Ms</option>
                                <option value="times new roman,times,serif">Times New Roman</option>
                                <option value="verdana,geneva,sans-serif">Verdana</option>
                            </select>
                        </button>
                        <button type="button" class="btn btn-default btn-md">
                            <span class="glyphicon glyphicon-text-size" aria-hidden="true"></span>
                            <select name="fontSize" id="fontsize" title="字体大小">
                                <option value="1">12 px</option>
                                <option value="2">14 px</option>
                                <option value="3">18 px</option>
                                <option value="4">24 px</option>
                                <option value="5">30 px</option>
                                <option value="6">36 px</option>
                                <option value="7">42 px</option>
                            </select>
                        </button>
                        <button type="button" class="btn btn-default btn-md">
                            <span class="glyphicon glyphicon-text-color" aria-hidden="true"></span>
                            <select name="fontColor" id="fontcolor" title="字体颜色">
                                <option value="#000000">Black</option>
                                <option value="#FF0000">Red</option>
                                <option value="#00FF00">Green</option>
                                <option value="#0000FF">Blue</option>
                                <option value="#FFFF00">Yellow</option>
                                <option value="#FF00FF">Purple</option>
                                <option value="#00FFFF">Cyan</option>
                            </select>
                        </button>
                        <button type="button" class="btn btn-default btn-md">
                            <span class="glyphicon glyphicon-text-background" aria-hidden="true"></span>
                            <select name="backColor" id="backcolor" title="背景色">
                                <option value="#FFFFFF">white</option>
                                <option value="#FF0000">Red</option>
                                <option value="#00FF00">Green</option>
                                <option value="#0000FF">Blue</option>
                                <option value="#FFFF00">Yellow</option>
                                <option value="#FF00FF">Purple</option>
                                <option value="#00FFFF">Cyan</option>
                            </select>
                        </button>
                        <!--<button type="button" class="btn btn-default btn-md" id="btnOrderedList" title="有序列表"><span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></button>-->
                        <!--<button type="button" class="btn btn-default btn-md" id="btnUnOrderedList" title="无序列表"><span class="glyphicon glyphicon-random" aria-hidden="true"></span></button>-->
                        <button type="button" class="btn btn-default btn-md" id="btnHighlight" title="高亮"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" id="btnGetHtml" title="获取HTML元素"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" id="btnGetSelected" title="显示文本"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" id="btnHr" title="分隔线"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" id="btnInsertParagraph" title="插入段落"><span class="glyphicon glyphicon-console" aria-hidden="true"></span></button>
                    </p>

                </div>

                <div id="divQuery">
                    <p>
                        <button type="button" class="btn btn-default btn-md" value="Bold"><span class="glyphicon glyphicon-bold" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="Italic"><span class="glyphicon glyphicon-italic" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-md" value="Underline"><span class="glyphicon glyphicon-text-color" aria-hidden="true"></span></button>
                    </p>
                    <div class="dropdown">

                    </div>
                </div>
            </div>
            <!--<div id="editor_iframe_holder" ></div>-->
            <iframe name="richedit" style="min-height:300px;width:100%;" contenteditable></iframe>
            <!--<input type="show" name="comments" value="">-->
            <div class="btn-group">
                <button type="submit" class="btn btn-default">提交</button>
            </div>
        </form>
    </div>
    <script type="text/javascript">
            (function(){

                EventUtil.addHandler(window,"load",function(){
                    frames["richedit"].document.designMode = "on";
                });

                var simple = document.getElementById("divSimple");
                var complex = document.getElementById("divComplex");
                var queryDiv = document.getElementById("divQuery");

                EventUtil.addHandler(document.forms[0],"submit",function(event){
                    event = EventUtil.getEvent(event);
                    var target = EventUtil.getTarget(event);

                    target.elements["comments"].value = frames["richedit"].document.body.innerHTML;
                });

                EventUtil.addHandler(simple,"click",function(event){
                    event = EventUtil.getEvent(event);
                    var target = EventUtil.getTarget(event);

                    if(target.type === "button") {
                        frames["richedit"].document.execCommand(target.value.toLowerCase(),false,null);
                    }
                });

                EventUtil.addHandler(complex,"click",function(event){
                    event = EventUtil.getEvent(event);
                    var target = EventUtil.getTarget(event);

                    switch(target.id) {

                        case "btnHead":
                            var selectbox = document.forms[0].elements["title"];
                            var selectedIndex = selectbox.selectedIndex;
                            var selectedOption = selectbox.options[selectedIndex];
                            if(selectedOption.selected) {
                                frames["richedit"].document.execCommand("formatblock", false, selectedOption.value);
                            }
                            break;

                            /*
                        case "btnForecolor":
                            var forecolor = prompt("What color?","#FF0000");
                            frames["richedit"].document.execCommand("forecolor",false,forecolor);
                            break;
                            */
                            /*
                        case "btnBackcolor" :
                            var backcolor = prompt("What color?","#00FF00");
                            frames["richedit"].document.execCommand("backcolor",false,backcolor);
                            break;*/
                        case "btnInsertParagraph":
                            frames["richedit"].document.execCommand("insertparagraph",false,null);
                            break;
                        case "fontfamily":
                            var selectbox = document.forms[0].elements["fontFamily"];
                            var selectedIndex = selectbox.selectedIndex;
                            var selectedOption = selectbox.options[selectedIndex];
                            if(selectedOption.value) {
                                frames["richedit"].document.execCommand("fontname", false, selectedOption.value);
                            }
                            break;
                        case "fontsize":
                            var selectbox = document.forms[0].elements["fontSize"];
                            var selectedIndex = selectbox.selectedIndex;
                            var selectedOption = selectbox.options[selectedIndex];
                            if(selectedOption.value) {
                                frames["richedit"].document.execCommand("fontsize",false, parseInt(selectedOption.value,10));
                            }
                            break;
                        case "fontcolor":
                            var selectbox = document.forms[0].elements["fontColor"];
                            var selectedIndex = selectbox.selectedIndex;
                            var selectedOption = selectbox.options[selectedIndex];
                            if(selectedOption.selected) {
                                frames["richedit"].document.execCommand("forecolor", false, selectedOption.value);
                            }
                            break;
                        case "backcolor":
                            var selectbox = document.forms[0].elements["backColor"];
                            var selectedIndex = selectbox.selectedIndex;
                            var selectedOption = selectbox.options[selectedIndex];
                            if(selectedOption.selected) {
                                frames["richedit"].document.execCommand("backcolor", false, selectedOption.value);
                            }
                            break;
                        case "btnInsertOrderedList" :
                            frames["richedit"].document.execCommand("insertorderedlist",false,null);
                            break;
                        case "btnInsertUnorderedList" :
                            frames["richedit"].document.execCommand("insertunorderedlist",false,null);
                            break;

                        case "btnHr" :
                            frames["richedit"].document.execCommand("inserthorizontalrule" ,false,null);
                            break;
                        case "btnGetHtml" :
                            alert(frames["richedit"].document.body.innerHTML);
                            break;
                        case "btnCreateLink" :
                            var link = prompt("What link?","http://www.jd.com");
                            if(link) {
                                frames["richedit"].document.execCommand("createlink",false,link);
                            }
                            break;
                        /*case "btnFontFamily" :
                            var font = prompt("What font? such as Arial,SimSun,Kaiti,Microsoft YaHei,SimLi","Times New Roman");
                            if(font) {
                                frames["richedit"].document.execCommand("fontname",false,font);
                            }
                            break;*/
                        case "btnUnlink" :
                            frames["richedit"].document.execCommand("unlink",false,null);
                            break;
                            /*
                        case "btnChangeFontSize" :
                            var size = prompt("What size?(range from one to seven)","7");
                            if(size) {
                                frames["richedit"].document.execCommand("fontsize",false,parseInt(size,10));
                            }
                            break;
                            */
                        case "btnGetSelected" :
                            if(frames["richedit"].getSelection) {
                                alert(frames["richedit"].getSelection().toString());
                            } else if(frames["richedit"].document.selection) {
                                alert(frames["richedit"].document.selection.createRange().text);
                            }
                            break;
                        case "btnHighlight" :
                            if(frames["richedit"].getSelection) {
                                var selection = frames["richedit"].getSelection();
                                var range = selection.getRangeAt(0);
                                var span = frames["richedit"].document.createElement("span");
                                span.style.backgroundColor = "yellow";
                                range.surroundContents(span);
                            } else if(frames["richedit"].document.selection) {
                                var range = frames["richedit"].document.selection.createRange();
                                range.pasteHTML("<span style=\"background-color:yellow\">" + range.htmlText + "</span>");
                            }
                            break;
                    }
                });

                EventUtil.addHandler(queryDiv,"click",function(event){
                    event = EventUtil.getEvent(event);
                    var target = EventUtil.getTarget(event);

                    if(target.type === "button") {
                        alert(frames["richedit"].document.queryCommandState(target.value.toLowerCase(),false,null));
                    }
                });
            })();


            // function $G(id) {
            //     return document.getElementById(id);
            // }
            // var myeditor = UE.getEditor('editor_iframe_holder',{
            //     toolbars:[[]],
            //     initialContent:'初始化内容',
            //     initialFrameHeight:200
            // });
            // myeditor.addListener('selectionchange',function(){
            //     var cmdName = ['bold','italic'],
            //         fontName = ['fontfamily','fontsize'];
            //     var i = -1;
            //     while(i++ < cmdName.length -1) {
            //         var state = myeditor.queryCommandState(cmdName[i]);
            //         $G(cmdName[i]).style.color = state ===1?"red":"";
            //     }
            //     i = -1;
            //     while(i++<fontName.length -1){
            //         var fstate = myeditor.queryCommandValue(fontName[i].toLowerCase());
            //         var fselect = $G(fontName[i]);
            //         for(var j=0;j<fselect.options.length;j++){
            //             if(fselect.options[j].value.toLowerCase().indexOf(fstate.split(",")[0])!=-1){
            //                 fselect.options[j].selected = "true";
            //             }
            //         }
            //     }
            // });
            // function execUnderline(cmd){
            //     myeditor.execCommand(cmd);
            // }

        </script>

    </body>
</html>